Package: com.furiri.hachimi
Name: Hachimi
Version: ${VERSION}
Architecture: iphoneos-arm64
Description: Game enhancement and translation mod
Author: Furiri
Maintainer: Furiri
Installed-Size: 4096
Section: Tweaks
